IMAP IDLE only as a command line parameter

First of all I would like to say how nice it is that getmail6 supports the IMAP IDLE extension, allowing me to get mail as soon as they arrive. However...

...would be even nicer if this
`idle = INBOX`
was allowed in the retriever section of getmailrc. That way the whole retriever config could be in one file, instead being split between the rc-file and whatever is starting getmail.

I've reviewed the implementation of the `--idle=<mailbox>` command line parameter.
The major reason to have it as command line parameter is to actually do idling only if there is just one rc-file.
Then, one could sometimes idle for an rc-file, but on other occasions choose to not idle on the same rc file.
So `--idle=<mailbox>` seem kind of outside/orthogonal to rc-files by usage logic.
I do not want to introduce any backward incompatibility.


I'm not suggesting removing the command line argument.

What I'm suggesting is adding the ability to set it from the rc-file also. User would still have the option of not adding that to the rc-file. And thus retain the ability to control idling from the command line just as before.

And the only possible scenario where this could even theoretically cause backwards incompatibility, is if somebody currently has `idle = MAILBOX` in their rc-file, and is simultaneously relying on it not idling.

The last point was meant as one in a list, more meaning that generally bigger code changes can introduce subtle backward incompatibilities or bugs. Since the logic seem right as is and since the implementation is quite hacky already, I do not want to introduce another case in the existing code, and I do also not want to change the code altogether. See the code comment https://github.com/getmail6/getmail6/blob/1e99e66d315d5ade5bb42b61b5a0d6bf2ebedef2/getmail#L462

I don't python, but I took a look at the implementation of the IMAP IDLE, and for what I was able to understand is that the idle wasn't part of the original program design and was added after most of the codebase was already there. And it was added in somewhat hacky and dirty way, as you pointed out. Obviously you wouldn't want to add another hack on top of that. And that long TODO comment indicates that he knew it wasn't very graceful and that he was in a hurry to get any solution that works. It's a command line argument only, because it was done in a hurry by somebody who didn't have time to familiarize themselves with the code, not because it begins with the letter i.

And comparing it to other command line options that affect the retriever, it seems that the appropriate way of implementing it would have been add_option('override_idle'). And then the option.idle would have to been read inside the "for in configs" loop. And set to false after reading if there are more than one item remaining in the configs (ie. not processing the last 'configs' item). I really don't blame you if you don't wanna touch that mess, as it would require more than a minor code change. But I think that is all the more reason to leave the issue open. Maybe somebody else will want to touch it, and make something slightly more graceful. Especially considering that there is two paragraphs long TODO comment in the code basically saying "somebody fix this mess later".

Just chiming in with interest for this as well, I had looked into the feature support [back in Feb 2026](https://github.com/orgs/docker-mailserver/discussions/4667#discussioncomment-15892090), where it required a bit of digging (poorly documented IIRC, but I can understand why 😅) to verify no equivalent support in the config file.

## Suggestion

It seems that it'd be better treated as a boolean, with mailbox folder selection taken as the first item from `mailboxes` (default `INBOX`).

This would align with Fetchamil's implementation and from a UX perspective seems more appropriate too.

Kinda conflicts with the current usage though, so I'm not sure if a breaking change would be acceptable? Any feedback on how you'd want to approach that?

As was stated earlier, the feature was contributed in a hacky manner (_feature arrived in [`v4.43.0` (Aug 2013)](https://github.com/getmail6/getmail6/commit/51f632f9717165d006f006b8a04aabb8ddae38ba#diff-a68c1e88f446140a6a0626d77db684250c2fd9107c3daa75ab0bbfb158322752)_). From what I understand `getmail6` (this project) is only related to version 6.x changes? If semver is respected that kind of makes it difficult to introduce a breaking change? Or do you use minor versions for this? (_I imagine it's difficult to use a major version bump when you refer to the project as `getmail6`?_)

---

### Use-case for config support

In the `docker-mailserver` (DMS, [used by `getmail6` in tests](https://github.com/getmail6/getmail6/tree/af9ee92e4e33e50802ec411a48c61089004b2004/test)_) implementation, there has been a request to support IMAP IDLE with our getmail integration.

Presently DMS manages getmail as a service (via `supervisord`) that runs a bash script (using a `while` loop with `sleep` intervals) to regularly run the command (_another maintainer decided this was preferable vs concerns with cron for the recurring/polling functionality_).

To support IMAP IDLE, we'd need to run multiple instances:
- Presently the current implementation in DMS that [sequentially iterates through getmail files](https://github.com/docker-mailserver/docker-mailserver/blob/dacec800f7c8db91683bbf5fa68fbb55300a05d1/target/getmail/getmail-service.sh#L35-L38) (_at least the docs seem to imply `getmail` lacks the capability to iterate a directory of RC files itself?_).
- Multiple instances is easy enough to do with `supervisord` and a number suffix for filenames, all of which can be done via that softwares syntax. However it'd add much more complexity to support a CLI arg to conditionally add `--idle=MAILBOX` (_both the arg itself and the customizable value on a per account basis_).

Hopefully that makes it rather clear why it'd be simpler in this scenario for users to opt-in via config instead. Then DMS only needs to add support to run multiple instances like is done for the equivalent IMAP IDLE `fetchmail` integration.

**EDIT:** Despite the documentation, I noticed [this `v6.18.3` (July 2021) changelog item](https://github.com/getmail6/getmail6/blob/af9ee92e4e33e50802ec411a48c61089004b2004/docs/CHANGELOG#L177) stating that `getmail6` added a feature to implicitly iterate through all configs of a directory.

---

### Fetchmail's implementation (CLI / Config)

Fetchmail supports both CLI and config for reference (_with much more [helpful docs on the topic](https://www.fetchmail.info/fetchmail-man.html)_).

I'd also like to point out with the fetchmail implementation, `idle` (config) / `--idle` (CLI) is a flag to opt-in to IMAP IDLE, and the mailbox folder configured is the first one from the `folders` setting (_equivalent to `mailboxes` in getmail_). Both `getmail` and `fetchmail` default to `INBOX`.

So while `getmail`'s current `--idle` option has no default and takes a mailbox, it shouldn't cause any notable issues to have it's opt-in use default to `INBOX`/true? (_doesn't help that it's requiring a string value but has logic that relies upon truthy conditionals such as empty string is false_) Given that it's only intended to take from a single folder, it's a tad odd that it doesn't leverage the existing `mailboxes` setting in a similar way to Fetchmail (only retrieving the first item).

I was not aware that getmail6 is part of docker-mailserver

> I'm not sure if a breaking change would be acceptable?

There should be no breaking change. This answers also the version question.
There can be additions.
Regarding `--idle` a special value not viable as mailbox name could mean "take mailbox from  mailboxes".
What would you propose? Maybe `--idle=@`?

> at least the docs seem to imply getmail lacks the capability to iterate a directory of RC files itself?

It says in configuration.html, that no `--rcfile1` means all files in `--getmaildir`, apart from a few.
In any case more rcfile will make `--idle` fail.


> I was not aware that getmail6 is part of docker-mailserver

Since [late Nov 2023 with the DMS v13 release](https://github.com/docker-mailserver/docker-mailserver/releases/tag/v13.0.0) (_[associated feature PR](https://github.com/docker-mailserver/docker-mailserver/pull/2803)_) 😎 

> There should be no breaking change. This answers also the version question.

It would be a breaking change if simplifying the `--idle` option to just a bool flag, which IMO is saner in code implementation and aligns with the similar Fetchmail software equivalent setting.

I understand if you want to avoid introducing a breaking change though 👍 (_sorry your quoted statement wasn't clear to me if you didn't see a breaking change from my input, or if you were affirming a desire to avoid breaking changes, I assume the latter_)

---

> Regarding `--idle` a special value not viable as mailbox name could mean "take mailbox from mailboxes".
> What would you propose? Maybe `--idle=@`?

 - `.` can represent relative? I believe in maildir format `.` represents the root level, where for example you have `.INBOX` for the mailbox `INBOX`.
   - It's also used to delimit nested mailboxes in that format like `.INBOX.Promotions` which is still a distinct mailbox and would not be covered as part of `INBOX`.
   - It's an easy input value which I think nicely represents the top/first mailbox item (from `mailboxes`) a bit better?
 - `+` could be a terse way to express `true` as an opt-in to the feature, and pragmatically is quite unlikely to be an actual mailbox name (_but I don't think `.` or `/` would be mailbox names either_).

`@` works too I suppose, but without semantic context? It's a mailbox not a mail address 😅

Regardless, if you go this route to maintain backwards compatibility and avoid a breaking change (_I haven't checked which of those are invalid as mailbox names, but realistically nobody should be impacted_).. implementation would be rather simple and just resolve the first value of `mailboxes` to replace the `--idle` opt-in placeholder value before the existing logic continues? (_avoiding your concern about altering the existing implementation_)

Would you also then want the config setting to be the same? I assume that's easier, but `--idle` / `idle = true` would look much cleaner and consistent IMO.

---

> It says in configuration.html, that no `--rcfile1` means all files in `--getmaildir`, apart from a few.

I do not see that explained at [`configuration.html`](https://getmail6.org/configuration.html)?:

> <img width="1935" height="676" alt="Image" src="https://github.com/user-attachments/assets/d8eff8d2-862a-49d1-a45f-4c53cee824e5" />

**EDIT:** Oh okay... uhh, so your project links to the online `getmail6.org` docs (_last published Jan 2021? While feature arrived later in July 2021_) but those don't reflect the repo's own docs? (_with the [referenced advice present](https://github.com/getmail6/getmail6/blob/af9ee92e4e33e50802ec411a48c61089004b2004/docs/configuration.html#L3266-L3269)_)

Any reason you're doing that instead of publishing the HTML pages to say Github Pages? It'd be nice to view without having to clone or look at raw HTML source 😓 (_especially for referring users to_)

It seems you have [a dedicated repo for Github Pages](https://github.com/getmail6/getmail6.github.io) but no longer update that? The way DMS does it is via a `gh-pages` branch and Github Actions workflow that builds HTML source, clones the `gh-pages` branch and copies the content over and pushes a new commit (_updating our live GH pages deployment_). If this was a point of friction with keeping it updated, that's probably something you could easily adopt? It's been smooth for DMS for years with this approach (_a separate docs preview feature for PR is a bit more involved_).

---

> In any case more rcfile will make `--idle` fail.

Yes I understand that.

DMS presently has a more verbose integration script, but could be simplified down to this to run `getmail` at a recurring interval:

```ini
[program:getmail]
autorestart = true
stopasgroup = true
command = bash -c 'getmail --getmaildir /var/lib/getmail && sleep %(ENV_GETMAIL_POLL)sm'
```

Running multiple instances of `getmail` can also be done in `supervisord` with a service config like this:

```ini
[program:getmail-parallel]
numprocs = 2
numprocs_start = 1
process_name = %(program_name)s-%(process_num)s
autorestart = true
stopasgroup = true
# `bash` and related `&& sleep %(ENV_GETMAIL_POLL)sm` not required if this were always `--idle`:
command = getmail
  --getmaildir /var/lib/getmail
  --rcfile  getmailrc-account%(process_num)s
  --idle=+
```

However the `--idle` option is a bit tricky to cleanly manage here even if the mailbox didn't need to be configured, it's still more complexity for integration (_unless the user wants all their provided `getmail6` configs to use IDLE_). So shifting that into config would greatly simplify our part to run multiple instances 👍 (_granted retaining a sleep for non-idle configs, or filtering by configs with the setting present would probably be necessary, but that is still simpler to implement support for_)

I'd rather avoid the complexity proposed [in this PR](https://github.com/docker-mailserver/docker-mailserver/pull/4675), where users would use an ENV to associate configs to idle and mailboxes that are not the default `INBOX`. That PR generates N supervisord service configs, as opposed to the cleaner `numprocs` / `%(process_num)s` approach above.

**NOTE:** I also noticed that Fetchmail will fail with `idle` when `folders` has more than one mailbox configured (_despite their docs stating only the first mailbox would be used_).



'+' can be a mailbox name, while '@' cannot be a mailbox name ... 
but on second thought, I prefer to drop the idea altogether:

- Since [The case-insensitive mailbox name INBOX is a special name reserved](
   https://datatracker.ietf.org/doc/html/rfc9051#:~:text=The%20case%2Dinsensitive%20mailbox%20name%20INBOX%20is%20a%20special%20name%20reserved)
   `--idle=INBOX` as mentioned in https://github.com/docker-mailserver/docker-mailserver/pull/4675
   is just fine.
- DMS building on the existing getmail6 behavior
  is a lot less hassle than coordination between more people,
  just to avoid some extra scripting.



> I prefer to drop the idea altogether

Unless I did something wrong, `--idle` doesn't appear to respect it's mailbox value anyway and uses `mailboxes` (_regardless if it's defined or not, thus defaulting to `INBOX`_). If this is the case, there really is no harm in switching to boolean behaviour and utilizing `mailboxes` setting if it's been broken for some time.

I hope you're still on-board for allowing `idle` in the configs though, that's what I care about.

---

> DMS building on the existing getmail6 behavior is a lot less hassle than coordination between more people, just to avoid some extra scripting.

I just care about the request to support `idle` in configs which should break no one? (_yet make getmail6 nicer to use with IDLE for anyone dealing with mixed configs_)

I was curious about the stance of aligning with Fetchmail and common sense for mailbox configuration and treating `--idle` as a boolean toggle. While that'd be nice it's not relevant to simplifying the integration in DMS, but getting the idle option supported in config files is (_where clearly DMS is not the only interested party_).

Seems there is a misunderstanding in the quoted statement?

> `--idle=INBOX` is just fine.

? Assigning a default / fallback was a request to treat `--idle` as an opt-in where the first item of the retriever's `mailboxes` setting was used as the fallback. That would naturally default to `INBOX` this way.

As you were opposed to the breaking change of changing `--idle` to a boolean and deferring the mailbox assignment via the associated `mailboxes` setting, we discussed values that might be safe / pragmatic to use as a fake `true` boolean as a workaround.

The single character values being valid mailbox names are less likely to be actually used in the wild though? Minor breaking change for whatever niche set of users are impacted is if they don't read the changelog when upgrading they'd get the INBOX retrieved instead, otherwise they set the desired mailbox in `mailboxes`.

Not that this matters if my observations covered below are accurate this feature has already introduced a breaking change or behaviour that doesn't match expectations 🤷‍♂️ 

> '+' can be a mailbox name, while '@' cannot be a mailbox name ...

Do you have a resource you can direct me at which defines `@` as not a valid mailbox name?
- I had no issue with using that as a mailbox name for Dovecot to store mail into.
- The [IMAP RFC 9051 Section 5.1](https://datatracker.ietf.org/doc/html/rfc9051#section-5.1) (_or the entire RFC for that matter_) does not appear to prohibit `@`

Is it an issue with getmail6 itself? I tried to verify with latest getmail6 release, but found `--idle=Junk` / `--idle=+` / `--idle=@` to all fail. They triggered a read status, so getmail6 did interact with the remote, but no local copy was retrieved. That only seemed to work with `--idle=INBOX`.

**EDIT:** Weirdly while `--idle` doesn't seem to matter what value is given to it, adjusting `mailboxes` setting results in all mailboxes being retrieved. The impression from docs was that only a single mailbox could be configured per getmail command via `--idle`? When did this behaviour change? Either way it proves that `@` as a mailbox name works just fine and IDLE was functioning.

## Reference

Two instances of DMS v15.1 (`mail.example.test` and `mail.remote.test`) were used for this troubleshooting step.

I set up Dovecot with the following sieve script:

```sieve
require ["envelope", "fileinto", "mailbox", "subaddress", "variables"];

# Check if the mail recipient address uses the expected subaddress tag (sourced from `:detail`)
if envelope :detail :matches "to" "sieve-example" {
  # Store into `+` mailbox:
  if mailboxexists "+" {
    fileinto "+";
  } else {
    fileinto :create "+";
  }

  # Store into `@` mailbox:
  if mailboxexists "@" {
    fileinto "@";
  } else {
    fileinto :create "@";
  }
}
```

Mail to `user+sieve-example@remote.test` was delivered and then stored at these specified mailboxes (_in Maildir format_), so they both seem to be valid mailbox names to me?

Remote IMAP server:

```console
$ ls -1A /var/mail/remote.test/user/ | grep '^\.'

.+
.@
.Junk

$ ls /var/mail/remote.test/user/.Junk/cur
'1780138653.M723740P14659.mail.remote.test,S=1188,W=1218:2,'

$ ls /var/mail/remote.test/user/.@/cur
'1780129503.M438625P874.mail.remote.test,S=903,W=926:2,'

$ ls /var/mail/remote.test/user/.+/cur
'1780129503.M438624P874.mail.remote.test,S=903,W=926:2,'

# These are the INBOX `cur`/`new`:
$ ls /var/mail/remote.test/user/cur
'1780133926.M122470P7535.mail.remote.test,S=833,W=856:2,'

$ ls /var/mail/remote.test/user/new
'1780134005.M803933P7672.mail.remote.test,S=815,W=838'
```

On the getmail side:

```console
$ cat /tmp/getmail/oldmail-mail.remote.test-143-user@remote.test-INBOX
1780129505/21780134009
1780129505/11780133951

$ ls -1 /var/mail/example.test/john.doe/new
'1780133951.M959374P11053.mail.example.test,S=1034,W=1061'
'1780134009.M678376P11151.mail.example.test,S=1016,W=1043'
```

Weirdly if I send a mail that gets filed into the `Junk` mailbox:

```console
# GTUBE pattern to trigger spam delivery:
$ swaks --server mail.remote.test --from hello@somewhere.test --to user@remote.test \
 --body "XJS*C4JDBQADN1.NSBN3*2IDNEN*GTUBE-STANDARD-ANTI-UBE-TEST-EMAIL*C.34X."

$ ls /var/mail/remote.test/user/.Junk/new
'1780139828.M314819P16514.mail.remote.test,S=1188,W=1218'
```

and then I run getmail to grab that:

```
$ getmail -vvv --getmaildir /tmp/getmail --rcfile config --idle=Junk

getmail version 6.19.12
Copyright (C) 1998-2026 Charles Cazabon and others. Licensed under GPL-2.0.
SimpleIMAPRetriever:user@remote.test@mail.remote.test:143:
  [INBOX] msg 1/2 (856 bytes) not retrieved (seen)
  [INBOX] msg 2/2 (838 bytes) not retrieved (seen)
  0 messages (0 bytes) retrieved, 2 skipped from SimpleIMAPRetriever:user@remote.test@mail.remote.test:143
```

There's nothing retrieved, it's not added to the local `john.doe@example.test` `INBOX`, but it is deemed as read and moves from `.Junk/new/` at the remote mailbox to `.Junk/cur/` (read), so getmail definitely had an effect on it?

If it helps this was the config used:

```ini
[retriever]
type = SimpleIMAPRetriever
server = mail.remote.test
username = user@remote.test
password = secret

[destination]
type = MDA_external
path = /usr/lib/dovecot/deliver
allow_root_commands = true
arguments =("-d","john.doe@example.test")

[options]
read_all = false
delete = false
```

After I added this line however to `[retriever]`:

```ini
mailboxes = ("+", "@", "Junk")
```

Regardless of my `--idle=Junk` line, all mailboxes contents were fetched and mail was delivered to the local `john.doe@example.test` destination.

```console
$ getmail -vvv --getmaildir /tmp/getmail --rcfile config --idle=Junk

getmail version 6.19.12
Copyright (C) 1998-2026 Charles Cazabon and others. Licensed under GPL-2.0.
SimpleIMAPRetriever:user@remote.test@mail.remote.test:143:
  [+] msg 1/1 (926 bytes) from <hello@example.test> delivered to MDA_external command deliver (b'')
  [@] msg 1/1 (926 bytes) from <hello@example.test> delivered to MDA_external command deliver (b'')
  [Junk] msg 1/2 (1218 bytes) from <hello@somewhere.test> delivered to MDA_external command deliver (b'')
  [Junk] msg 2/2 (1218 bytes) from <hello@somewhere.test> delivered to MDA_external command deliver (b'')
  4 messages (4288 bytes) retrieved, 0 skipped from SimpleIMAPRetriever:user@remote.test@mail.remote.test:143

# New mails stored:
$ ls -1 /var/mail/example.test/john.doe/new
'1780133951.M959374P11053.mail.example.test,S=1034,W=1061'
'1780134009.M678376P11151.mail.example.test,S=1016,W=1043'
'1780140706.M887786P21231.mail.example.test,S=1100,W=1127'
'1780140706.M935093P21233.mail.example.test,S=1100,W=1127'

# The two from the Junk mailbox have spam headers that Dovecot sieve redirected
# into the accounts junk mailbox:
$ ls -1 /var/mail/example.test/john.doe/.Junk/new
'1780140706.M974453P21234.mail.example.test,S=1388,W=1422'
'1780140707.M21644P21235.mail.example.test,S=1388,W=1422'
```

Regarding `@` you are right. I relied on a stupid AI response. Thanks for the tests. I'd like to repeat these tests above. Would you provide the sequence of commands, after `cd docker-mailserver && make build`? Although I use DMS in the getmail6 tests I am not at all an expert of DMS.

Does the committed solution meet your expectations?

`--idle=` (just ending in =) means take mailbox[0], or `INBOX` if there is no `mailbox[0]` in the rcfile.

I close this issue with this solution. Make a new issue based on this new current state, if you are not happy with it,
as this issue has become a bit cluttered.  


I feel like allowing the use of boolean CLI argument only fixes 30% of the issue. 

As polar stated "much more complexity to support a CLI arg to conditionally add ... both the arg itself and the customizable value on a per account basis"

There is still the issue of the arg itself. I myself don't see this as a complexity issue, it is more of a clean and maintainable configuration issue. Right now, I need to add a comment to a retriever config file saying
```
# This is an idling recipe, but the idling it controlled by an
# another config file here ~/.config/systemd/user/getmail.service
```
to avoid a situation where future me years from now, for some reason wants to turn off the idling, and goes to look at the getmail retriever config and goes: "Wait. Wasn't this supposed to idle. Have I had this not idling all these years? Maybe I already turned off the idling and just forgot."

But I also see how this can easily be a complexity issue in sysadmin situations. While I don't mind doing my own systemd service config. It is completely unrealistic for a sysadmin to expect all users to be able to.

**TL;DR:**
- `--idle` with a mailbox doesn't make sense when it only affects a trigger to retrieve whatever is configured in `mailboxes` config?
- As a bool flag (and config setting) it would be a clear opt-in to document, whereas presently there's buggy behaviour that is undocumented / unhandled.
- When `idle == true`, `mailboxes` length should be 1. As a bool flag, there is no ambiguity or repetition required to document the unexpected behaviour observed below.

---

> `--idle=` (just ending in =) means take mailbox[0], or `INBOX` if there is no `mailbox[0]` in the rcfile.
> 
> I close this issue with this solution.

Not sure if you're aware of this (_doesn't appear to be covered in docs_) but it appears to be a bug? When `--idle=Junk` doesn't align with `mailboxes` (_[default: `("INBOX",)`](https://github.com/getmail6/getmail6/blob/1e99e66d315d5ade5bb42b61b5a0d6bf2ebedef2/getmailcore/retrievers.py#L392-L393)_).
- The `mailboxes` config setting is processed at start of the command regardless before switching to IDLE on the `--idle` mailbox.
- Mail is thus retrieved from 1 or more **incorrect mailboxes** (_especially given the default_).
- New IDLE notification arrives, which triggers retrieving from `mailboxes`, **not the IDLE monitored mailbox**.

I cannot think of a scenario where you'd want that behaviour? 🤔 

I'd personally just simplify the logic at this point with a breaking change and switch to `--idle` as a boolean.
- At least this way existing users get an obvious and clear breakage of the change to properly configure `mailboxes`.
- As it stands, currently the feature implements `--idle` only as a trigger to to re-run the standard retrieval logic...? You could leverage that for a daemonize feature to poll at a fixed interval too mind you, instead of the deferring workarounds to users.

There's no real connection to the `mailboxes` setting prior to discussion here, yet to leverage IDLE as intended for mail retrieval you'd need to explicitly configure `mailboxes` (_except for `--idle=INBOX`_).
- The breakage switching to a boolean flag would introduce... realistically is _"CLI exits early until removing the redundant mailbox value for `--idle`"_ (_or you awkwardly stick with the `--idle=` blank logic and document that_).
- Arguably no one has bothered to raise a bug report about this observation thus far, so I'd only have sympathy for `--idle=INBOX` users that blindly upgrade in faith of semver (_yet for some reason upon noticing the failure from that upgrade, rolling back/pinning or making the CLI arg changes isn't an option?_)

Fetchmail seems to have implemented this better and I'd strongly suggest aligning with that.
- If you can only support one IDLE connection when invoking getmail, then not only is a single config a constraint, so is expecting `mailboxes` to be a length of 1 (_Fetchmail throws an error and exits if it is not_).
- Use `--idle` as a boolean. There's no pragmatic reason to require a mailbox association, unless this was a convenience for the slightly awkward `mailboxes = ("Junk",)` assignment which mandates a trailing `,`?
- Support `idle` opt-in bool in config, if it required repeating `mailboxes` or was treated as an alias for convenience, it adds some ambiguity to config vs always having the expected mailbox configured at `mailboxes`.

---

<details>
<summary>Original Reply (collapsed as revised above)</summary>

I still need to verify, but from what I've observed in my previous comment:
- **Dovecot specific:** `new/` => `cur/` relocation of mail files in Dovecot's Maildir storage when `--idle=<mailbox here>` was nothing to do with Getmail specifically, just standard behaviour for the `\Recent` flag to be cleared upon first-time a client connects and new mail since the mailbox was queried had arrived. This is a legacy feature and the concern raised **can be ignored**.
- **Getmail specific:** I noticed that `--idle=<mailbox here>` resulted in an IMAP IDLE connection to Dovecot and would react to new mail that arrives for the given mailbox from that point onwards.
  - It did not fetch new mail for the target mailbox prior to starting that IDLE connection however. Nor upon IDLE notifications either given it was not in `mailboxes`.
  - Whatever `mailboxes` is configured with is what was fetched (_as if running getmail in a polling configuration_). For reference Fetchmail aborts with an error when the `mailboxes` equivalent setting has more than 1 item.

I can't imagine that bug in getmail is ever desirable? If I setup getmail to IDLE fetch a specific mailbox as a long-running process, it should not be fetching from `INBOX` (_or whatever is configured for `mailboxes`_) when these do not match the `--idle` target.

I don't know why you were so eager to resolve this by pushing a solution straight into the main branch, rather than raise it as a PR to try/discuss? 🤔 

Regardless, it sounds like the `--idle` behaviour in getmail was not thought through well from the original contributor? Unless there's a valid usecase to fetch from 1 or more mailboxes unrelated to the `--idle` value? Sounds like a bug to me, ambiguity that could be avoided by treating `--idle` as a boolean like Fetchmail.

I understand you've taken the slightly awkward approach of trying to introduce the boolean flag behaviour whilst maintaining backwards compatibility, along with the awkwardness with the project fork name regarding semver for supporting breaking changes... Technically providing any truthy value can cast to a bool as true, but I'd personally favor clear configuration and documentation on a boolean opt-in that relies upon `mailboxes` and align with Fetchmail 🤷‍♂️ (_there's technically a possibility someone relies on that buggy behaviour, so fixing it will be a breaking change to them_)

</details>




> Make a new issue based on this new current state, if you are not happy with it, as this issue has become a bit cluttered.

Apologies, I added noise from debating `--idle` should be treated as a boolean (_which seems rather justified_).

Do you want a new issue requesting the same feature again? (_`idle` config setting support_)

Relevant context (_to avoid sifting through clutter of prior comments_):
- For an integrator detection of opt-in to IDLE via a regex on a user config is far easier to implement than expecting each integrator to introduce their own abstractions for users to express what getmail configs should be run with `--idle` (_especially with the added complexity previously to map a mailbox to each config_).
  - This concern doesn't really apply when you directly setup getmail (as is the case with @Puuma ) rather than providing getmail configs and delegating service management to another party (as occurs with `docker-mailserver`).
  - Polling by contrast as a short-lived command run at an interval is simpler but must be called through a wrapper or equivalent to manage the poll interval. Something that should not be associated to an `--idle` instance.
- The IDLE logic effectively implements polling support for getmail (akin to Fetchmail `daemon` setting). To support it would just require using a loop with sleep instead of waiting on IDLE events.
  - Which without such support:
    - An integrator needs to forward signals (notably `SIGTERM`/`SIGINT`), exit early (_eg: `set -e` in bash_) and return any non-zero exit status, terminate orphan processes (_such as `sleep` if polling were implemented in a bash while loop_).
    - FWIW `cron` has various caveats you can run into, while systemd timers aren't available to containers when using Docker as the runtime.
  - The stance has been expressed previously by getmail maintainers that users of the getmail project should all go about it N different ways, rather than just have getmail manage itself in a loop properly, where everyone could benefit.

As a fellow maintainer, I do understand limited time for resolving such concerns or that they'd be deemed low priority. I'm just providing context on friction but understand my concerns are niche.

> Does the committed solution meet your expectations?

Not exactly, but it is somewhat closer thank you ❤️ 

---

## Test reproduction advice

> Thanks for the tests. I'd like to repeat these tests above. Would you provide the sequence of commands, after `cd docker-mailserver && make build`?

No need for a custom build of DMS.

Although you can do that if you want to add in your own modifications. Your tests [already extend DMS with a custom `Dockerfile`](https://github.com/getmail6/getmail6/blob/1e99e66d315d5ade5bb42b61b5a0d6bf2ebedef2/test/docker-mailserver-getmail6test/Dockerfile) but it is using [DMS `v9.01`](https://github.com/docker-mailserver/docker-mailserver/releases/tag/v9.0.1) (Feb 2021).

The minimal DMS setup is:

```bash
# Start DMS with defaults (SMTP via Postfix and IMAP via Dovecot work out of the box:
# NOTE: `--hostname` must be set and 1 account must be provisioned (`setup email add ...`)
docker run --rm -itd --name dms-example --hostname mail.example.test ghcr.io/docker-mailserver/docker-mailserver:15.1

# Add a DMS account (mail address, followed by password):
docker exec -it dms-example setup email add hello@example.test secret

# Shell into the container and run any commands you like:
docker exec -it dms-example bash
```

You may want to uninstall the Debian `getmail` package, and install getmail via PyPi or the git repo:

```console
$ getmail --version
getmail 6.18.11

# Replace for newer version of getmail6:
$ apt-get -qq remove getmail6
$ apt-get -qq update && apt-get -qq install pipx
$ pipx install getmail==6.19.12
$ export PATH="/root/.local/bin:${PATH}"

$ getmail --version
getmail 6.19.12
```

Now you can experiment with getmail within the container as you would anywhere else. If you instead want to use the Getmail integration in DMS, you may [follow our docs](https://docker-mailserver.github.io/docker-mailserver/v15.1/config/advanced/mail-getmail/) on the topic.

---

> Although I use DMS in the getmail6 tests I am not at all an expert of DMS.

No worries, DMS is designed to be quite easy for users to adopt 👍

In [my earlier comment that you'd like to reproduce](https://github.com/getmail6/getmail6/issues/265#issuecomment-4582781089), I did provide a sieve script to use subaddresses for sending mail that gets stored in a different mailbox. We have [these Dovecot Sieve docs](https://docker-mailserver.github.io/docker-mailserver/v15.1/config/advanced/mail-sieve/), but I've not found time to revise them yet 😓 

Your tests use Docker Compose, so switching over to that syntax now for the convenience of [`configs`](https://docs.docker.com/reference/compose-file/services/#configs):

```yaml
services:
  dms:
    image: ghcr.io/docker-mailserver/docker-mailserver:15.1
    hostname: mail.example.test
    environment:
      # Allows for us send a test mail easily by trusting any mail client run within this container (like `swaks`):
      PERMIT_DOCKER: container
      # Required when testing spam delivery to `Junk` mailbox:
      ENABLE_SPAMASSASSIN: 1
    # `configs` entry here is similar to `volumes`,
    # it is convenient to embed small files into the `compose.yaml`:
    configs:
      - source: dms-accounts
        target: /tmp/docker-mailserver/postfix-accounts.cf
      # During container setup, DMS makes an internal copy of this user supplied config to:
      # `/var/mail/example.test/john.doe/home/.dovecot.sieve`
      - source: sieve
        target: /tmp/docker-mailserver/john.doe@example.test.dovecot.sieve


# NOTE: `$$` usage below is an escaped form of `$` in `compose.yaml`, otherwise Docker Compose
# attempts to interpolate as an environment variable during pre-processing.
configs:
  # Two mail accounts provisioned in advance, no need for `setup email add ...`,
  # this is the output/config generated from that CLI command, with the username
  # followed by the digest of the of the password `secret`.
  dms-accounts:
    content: |
      jane.doe@example.test|{SHA512-CRYPT}$$6$$sbgFRCmQ.KWS5ryb$$EsWrlYosiadgdUOxCBHY0DQ3qFbeudDhNMqHs6jZt.8gmxUwiLVy738knqkHD4zj4amkb296HFqQ3yDq4UXt8.
      john.doe@example.test|{SHA512-CRYPT}$$6$$sbgFRCmQ.KWS5ryb$$EsWrlYosiadgdUOxCBHY0DQ3qFbeudDhNMqHs6jZt.8gmxUwiLVy738knqkHD4zj4amkb296HFqQ3yDq4UXt8.

  sieve:
    content: |
      require ["envelope", "fileinto", "mailbox", "regex", "subaddress", "variables"];

      # Check if the mail recipient address uses an expected subaddress tag (sourced from `:detail`)
      # `:regex` is needed if permitting a fixed set of values. A capture group can then be referenced via `${1}`.
      if envelope :detail :regex "to" "^(promotions|social)$" {
        # Create a variable `tag`, with the captured `to` value normalized (eg: SoCIAL => Social)
        set :lower :upperfirst "tag" "$${1}";

        # Store the mail into a folder with the subaddress tag name, nested under your inbox folder:
        fileinto :create "INBOX.$${tag}";
      }
```

Save the above as `compose.yaml` and run the command `docker compose up --force-recreate` (_optionally with `-d` to run it in background_). The `--force-recreate` option is to ensure DMS restarts it's container from a clean slate, no inner container runtime state persisted across container restarts.

You could also just create a new mailbox manually via:

```bash
# Create mailbox `Promotions` nested under `INBOX` for the existing user account (`-u`):
doveadm mailbox create -u 'john.doe@example.test' 'INBOX.Social'

# Manually invoke moving all the mail content from INBOX into the mailbox INBOX.Social
doveadm move -u 'john.doe@example.test' 'INBOX.Social' mailbox 'INBOX' all

# Compare contents at the Dovecot configured Maildir location:
# NOTE:
# - The primary mailbox (INBOX) is top-level, no namespace needed.
# - `/new` is for `\Recent` flagged mail, prior to a mail client connecting.
# - `/cur` is where mail is relocated after the `\Recent` flag is cleared.
ls -1a /var/mail/example.test/john.doe/new
ls -1a /var/mail/example.test/john.doe/.INBOX.Social/new

# Here's another command to query mail from all mailboxes of the account,
# the JSON returned will be filtered to each mail item only having
# `mailbox` and `subject` header properties.
# NOTE: The `| jaq` pipes into jaq (`jq` alternative) for pretty printing the JSON
doveadm -f json fetch -u 'john.doe@example.test' 'mailbox hdr.subject' MAILBOX '*' | jaq
```

You can also send some test mail in DMS locally via the bundled `swaks` command, like this:

```bash
# Due to `PERMIT_DOCKER: container` security checks on DNS won't be run, mail will be accepted by Postfix
swaks --silent --server mail.example.test \
  --from 'hello@example.test' \
  --to 'john.doe+social@example.test' \
  --header 'Subject: 42 people noticed you' \
  --body "You're getting noticed by someone from GitHub."
```

You can omit the `--header` subject and `--body` options if you like they have implicit defaults.

The `+social` subaddress of the recipient address should deliver that into the `INBOX.Social` if you use that sieve script with Dovecot, otherwise use the `doveadm move` command manually.

As we also enabled the SpamAssassin service (alongside default enabled Amavis service), you'll get automatic spam filtering too, so even without the user supplied sieve script or manual `doveadm` approach, spam mail will be automatically routed into a `Junk` mailbox for you if you send a test mail like this with the `GTUBE` pattern:

```bash
swaks --silent --server mail.example.test \
  --from 'hello@example.test' \
  --to 'john.doe@example.test' \
  --header 'Subject: Totally not spam' \
  --body 'XJS*C4JDBQADN1.NSBN3*2IDNEN*GTUBE-STANDARD-ANTI-UBE-TEST-EMAIL*C.34X.'
```

That should be sufficient of a tutorial to reproduce the earlier info I supplied 👍 

Hope that helps. Adding a 2nd instance of DMS to test between retrieving from one instance and having Getmail deliver to another is fairly trivial addition to the above.

If I can spare the time I'll provide a more complete reproduction example.


