SCRAM-SHA-1(-PLUS) + SCRAM-SHA-256(-PLUS) + SCRAM-SHA-512(-PLUS) + SCRAM-SHA3-512(-PLUS) supports

Dear @getmail6 team,

In first, I wish you a Happy New Year!

Can you add supports of:
- SCRAM-SHA-1
- SCRAM-SHA-1-PLUS
- SCRAM-SHA-256
- SCRAM-SHA-256-PLUS
- SCRAM-SHA-512
- SCRAM-SHA-512-PLUS
- SCRAM-SHA3-512
- SCRAM-SHA3-512-PLUS

You can add too:
- SCRAM-SHA-224
- SCRAM-SHA-224-PLUS
- SCRAM-SHA-384
- SCRAM-SHA-384-PLUS

"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802]".

- SCRAM-SHA-1(-PLUS):
-- https://tools.ietf.org/html/rfc5802
-- https://tools.ietf.org/html/rfc6120

- SCRAM-SHA-256(-PLUS):
-- https://tools.ietf.org/html/rfc7677 since 2015-11-02
-- https://tools.ietf.org/html/rfc8600 since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

- SCRAM-SHA-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha-512

- SCRAM-SHA3-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

https://xmpp.org/extensions/inbox/hash-recommendations.html

-PLUS variants:
- RFC5056: On the Use of Channel Bindings to Secure Channels: https://tools.ietf.org/html/rfc5056
- RFC5929: Channel Bindings for TLS: https://tools.ietf.org/html/rfc5929
- Channel-Binding Types: https://www.iana.org/assignments/channel-binding-types/channel-binding-types.xhtml
- Channel Bindings for SCRAM over TLS 1.3: https://tools.ietf.org/html/draft-whited-tls-channel-bindings-for-tls13 -> https://tools.ietf.org/html/draft-ietf-kitten-tls-channel-bindings-for-tls13

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

HTTP:
- RFC7804: Salted Challenge Response HTTP Authentication Mechanism: https://tools.ietf.org/html/rfc7804

2FA:
- Extensions to Salted Challenge Response (SCRAM) for 2 factor authentication: https://tools.ietf.org/html/draft-melnikov-scram-2fa

IANA:
- Simple Authentication and Security Layer (SASL) Mechanisms: https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml

Linked to:
- https://github.com/scram-xmpp/info/issues/1


There is no "getmail6 team" other than everybody with an interest to add or fix something.
A pull request is welcome.
You might be the right person to implement support.

I'm not familiar with SCRAM and how popular it is among email servers.
[Wikipedia](https://en.wikipedia.org/wiki/Salted_Challenge_Response_Authentication_Mechanism) says it can be used for email servers.

Python has [passlib](https://passlib.readthedocs.io/en/stable/).
Python's email module does not use SCRAM.


As passlib does not support SCRAM natively yet, there is some basic support for SCRAM hashes at least:
https://passlib.readthedocs.io/en/stable/lib/passlib.hash.scram.html
Still, I'm not sure it one could easily extend/overwrite the class functions in the email module to use this.
Looks like a bunch of work to me.

poplib now has a method `get_channel_binding()`, that could be used for external authentication. I think it could be possible to use a module like "scramp" for that: https://github.com/tlocke/scramp
Maybe there is something similar for imaplib, but I don't know. Still it means a lot of code-change in getmail6, as the authentication then needs to "branch" to the methods in the module instead of being processed internally.
Maybe someone could create a PR for that?

@ChrisTG742: Where is "poplib" sourcecode?

It supports "tls-unique" and "tls-server-end-point"?
"tls-exporter" is not supported, ticket here:
- https://github.com/tlocke/scramp/issues/9

Maybe @tlocke can help?

@Neustradamus I think this is the main repository here: https://github.com/python/cpython/blob/main/Lib/poplib.py
